.row1{
    box-sizing: border-box;
    content: "";
    display: inline-flex;   
    flex-wrap: wrap;
    margin-top: 40px;
}

.row1 .card1{
    background-color: beige;
    border: 2px solid ;
    border-radius: 5px;
    margin: 5px;
    width: 30.5%;
    padding: 10px;
    text-align: center;
    box-shadow: 4px 5px bisque;
    text-shadow: 1px 2px lightsteelblue;
    z-index: -1px;
}

@media only screen and (max-width: 800px){
    .row1 .card1{
        display: inline-block;
        width: 44%;
    }
}

@media only screen and (max-width: 600px){
    .row1 .card1{
        display: block;
        width: 100%;
    }
}